@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:800');

body {
  font-family: 'Merriweather', serif;
  padding-left: 10%;
  padding-right: 10%;
}

img {
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  font-family: 'Raleway', sans-serif;
}